
@{
    ViewBag.Title = kindergartenNetwork.Resources.PublicNews.Login + " | " + kindergartenNetwork.Resources.PublicNews.ProjectName;
    Layout = "~/Views/Shared/_DefLayout.cshtml";
}

<!-- Start Page Title Area -->
<div class="page-title-area bg-8">
    <div class="container">
        <div class="page-title-content">
            <h2>تسجيل الدخول</h2>
            <ul>
                <li>
                    <a href="@Url.Action("Index","Home",null,Request.Url.Scheme)">
                        الرئيسية
                    </a>
                </li>

                <li class="active">تسجيل الدخول</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start Log In Area -->
<section class="user-area-style ptb-100">
    <div class="container">
        <div class="log-in-area">
            <div class="section-title">
                <h2>تسجيل الدخول</h2>
            </div>

            <div class="contact-form-action">
                @using (Html.BeginForm("LoginFn", "Home", FormMethod.Post, new { onsubmit = "return false;", id = "loginForm", name = "loginForm" }))
                {
                <div class="row">

                    <div class="alert alert-danger" style="display: none">
                        <button class="close" data-close="alert"></button>
                        <span>@kindergartenNetwork.Resources.PublicNews.EnterAnyUsernameAndPassword</span>
                    </div>
                    <div class="alert alert-success" style="display: none">
                        <button class="close" data-close="alert"></button>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label>البريد الإلكتروني</label>
                            <input class="form-control" type="text" name="Email">
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label>كلمة المرور</label>
                            <input class="form-control" type="password" name="Password">
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="login-action">
                            <span class="log-rem">
                                <input id="remember" name="Remember" value="true" type="checkbox">
                                <label for="remember">تذكرني</label>
                            </span>
                            <span class="forgot-login">
                                <a href="@Url.Action("RecoverPassword", "Home", null, Request.Url.Scheme)">نسيت كلمة المرور؟</a>
                            </span>
                        </div>
                    </div>

                    <div class="col-12">
                        <button class="default-btn" type="submit">
                            دخول
                        </button>
                    </div>

                    <div class="col-12">
                        <p>هل لديك حساب؟ <a href="@Url.Action("Registration", "Home", null, Request.Url.Scheme)">سجل الأن!</a></p>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- End Log In Area -->
@section scripts{
    <script src="~/Content/assets/global/plugins/jquery-validation/js/jquery.validate.js"></script>
    <script src="~/Scripts/visitorLogin.js"></script>
}
@section OnReadyScripts
{
    Login.init();
}

