
@{
    ViewBag.Title = kindergartenNetwork.Resources.PublicNews.ForgotYourPassword + " | " + kindergartenNetwork.Resources.PublicNews.ProjectName;
    Layout = "~/Views/Shared/_DefLayout.cshtml";
}

<!-- Start Page Title Area -->
<div class="page-title-area bg-9">
    <div class="container">
        <div class="page-title-content">
            <h2>إسترجاع كلمة المرور</h2>
            <ul>
                <li>
                    <a href="@Url.Action("Contact", "Home", null, Request.Url.Scheme)">
                        الرئيسية
                    </a>
                </li>

                <li class="active">إسترجاع كلمة المرور</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start Recover Password Area -->
<section class="user-area-style recover-password-area ptb-100">
    <div class="container">
        <div class="contact-form-action recover">
            <div class="form-heading text-center">
                <h3 class="form-title">إعادة تعيين كلمة المرور!</h3>
                <p class="reset-desc">
                    أدخل البريد الإلكتروني لحسابك لإعادة تعيين كلمة المرور. بعد ذلك ستتلقى رابطًا بالبريد الإلكتروني لإعادة تعيين كلمة المرور. إذا كانت لديك أي مشكلة حول إعادة تعيين كلمة المرور
                    <a href="@Url.Action("Contact","Home",null,Request.Url.Scheme)">فاتصل بنا.</a>
                </p>
            </div>

            @using (Html.BeginForm("ForgetPassword", "Home", FormMethod.Post, new { onsubmit = "return false;", id = "forgetPasswordForm", name = "forgetPasswordForm" }))
            {
                <div class="row">
                    <div class="alert alert-danger" style="display: none">
                        <button class="close" data-close="alert"></button>
                        <span></span>
                    </div>
                    <div class="alert alert-success" style="display: none">
                        <button class="close" data-close="alert"></button>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <input class="form-control" type="text" name="email" id="tbEmail" placeholder="أدخل البريد الإلكتروني">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <a class="now-log-in font-q" href="@Url.Action("Login", "Home", null, Request.Url.Scheme)">تسجيل الدخول إلى حسابك</a>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <p class="now-register">
                            لست عضواً؟
                            <a class="font-q" href="@Url.Action("Registration", "Home", null, Request.Url.Scheme)">سجل الأن</a>
                        </p>
                    </div>

                    <div class="col-12">
                        <button class="default-btn btn-two" type="submit">
                            إعادة تعيين كلمة المرور
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- End Recover Password Area -->

@section scripts{
    <script src="~/Content/assets/global/plugins/jquery-validation/js/jquery.validate.js"></script>
    <script src="~/Scripts/visitorLogin.js"></script>
}
@section OnReadyScripts
{
    Login.initForgetPassword();
}
